@import url('reset.css');

/*
1.Global 
2.Typography
3.Layout
4.Responsive
*/

/*=======================================
      1. Global Style
=========================================*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  background-color: var(--color-background);
}

:root {
  --color-background: #1E1A19;
  --color-gold: #E3C371;
  --fs-sm: 1rem;
  --fs-m: 1.25rem;
  --fs-l: 1.5rem;
  --fs-xl: 3rem;
  --fs-xxl: 5rem;


  --ff-h1: quiche-sans,helvetica, sans-serif;
  --ff-h2: fino-sans, helvetica, sans-serif;
  --ff-h3: Helvetica, Arial, sans-serif;
  --ff-p: montserrat, helvetica, sans-serif;

  --f-line-height: 1.15;



  /*   font-synthesis: none;
  text-rendering: optimizeLegibility; */
}


/*=======================================
       2. Typography
=========================================
*/



/*=======================================
       3.  Layout
=========================================*/

.bg__grained {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  /* background-color:var(--color-background); */
}


/* Header and navigation*/
.nav__container {
  position: relative;
  padding: .6rem 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: .1rem solid var(--color-gold);
}

.logo {
  width: 1.65rem;
  object-fit: contain;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.25rem;
}

.nav__item {
  list-style-type: none;
}

.nav__item a {
  text-decoration: none;
  color: white;
}

.hamburger {
  display: none;
}



.hero__title{
font-size: var(--ff-h1);
}




/*=======================================
       4.  Responsive
=========================================*/

@media only screen and (max-width:500px) {
  .nav {
    display: none;
    transition: 1s ease-in-out;
  }

  .show_nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.6rem;
    gap: 0.6rem;
    position: absolute;
    background-color: #1E1A19;
    bottom: -1.6rem;
    right: 0;
    border-radius: 1.2rem;
  }

  .hamburger {
    display: block;
  }
}