@import url('reset.css');

/*
1.Global 
2.Typography
3.Layout
4.Responsive
*/

/*=======================================
      1. Global Style
=========================================*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
/*   height: 100vh; */
  width: 100vw; 
  background-color: var(--color-background);
}

:root {
  --color-background: #1E1A19;
  --color-gold: #E3C371;
  --color-white: #D9D9D9;
  --color-goldfont: linear-gradient(180deg,
      rgba(251, 213, 122, 1) 27%,
        rgba(242, 205, 137, 1) 44%,
        rgba(250, 215, 125, 1) 50%,
        rgba(92, 74, 44, 1) 79%);



  --fs-sm: 1.125rem;
  --fs-m: clamp(1.25rem, calc(1.25rem + ((1vw - 0.175rem) * 0.5366)), 1.8rem);
  --fs-l: 1.8rem;
  --fs-xl: 3.5rem;
  --fs-xxl: clamp(3.8em, calc(3.8rem + ((1vw - 0.175em) * 3.0244)), 6.9em);
/*   clamp(4.4rem, calc(4.4rem + ((1vw - 0.25rem) * 2.6316)), 6.9rem); */

  --fspace-00: -0.12rem; 
  --fspace-1: 0.44rem;
  --fspace-2: 0.27rem;
  --fspace-3: 0.14rem;

  --ff-h2: quiche-sans,helvetica, sans-serif;
  --ff-h1: fino-sans, helvetica, sans-serif;
  --ff-h3: Helvetica, Arial, sans-serif;
  --ff-p: montserrat, helvetica, sans-serif;

  --fw-extralight: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-semibold: 600; 
  --fw-bold: 700;

  --f-line-height: 1.75;



  /*   font-synthesis: none;
  text-rendering: optimizeLegibility; */
}


/*=======================================
       2. Typography
=========================================*/


/*=======================================
       3.  Layout
=========================================*/


/*Hidden properties*/
.hidden, .img__china-tm, .img__china-tm-2, .img__bamboo-m{
  display:none;
}

.line{
  background-color:var(--color-gold);
  height: .1rem;
  margin:.4rem 0rem;
}



.bg__grained {
  width: 100vw;
  position: relative;
  overflow: hidden;
  /* background-color:var(--color-background); */
}


/*===================== Header and navigation=====================*/
.nav__container {
  position: relative;
  padding: .6rem 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: .1rem solid var(--color-gold);
  background-color: var(--color-background);
  z-index:2;
}

.logo {
  width: 1.65rem;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.25rem;
}

.nav__item {
  list-style-type: none;
}

.nav__item a {
  text-decoration: none;
}

.hamburger {
  display: none;
}



/*=====================HERO CONTAINER=====================*/
.img__notes-sm{
  position:relative; 
  margin: 0rem 16rem 2rem 0rem; 
  z-index: 2;
}

.hero__title{
/* font-size: var(--fs-xxl); */
font-size: clamp(4.4rem, calc(4.4rem + ((1vw - 0.125rem) * 4.9767)), 9.75rem);
font-family:var(--ff-h1);
padding-block-start: .3rem; 
z-index: 2;
}

.txt__wrp--hero p:nth-of-type(1), .fromto {
font-size: var(--fs-m);
font-family: var(--ff-h3);
letter-spacing: var(--fspace-1);
color: var(--color-white);
font-weight: var(--fw-extralight);

}

.txt__wrp--hero{
  display: flex;
  flex-direction: column-reverse;
  z-index: 2;
  text-align: center;
}
/*GRADIENTS*/
.hero__title,
.chapter__title,
.gradients, .nav__item a {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: var(--color-goldfont);
  color: var(--color-gold);
  /* fallback in case clip and text fill color won't work  */
}

.begin{
  color:var(--color-white);
  font-family: var(--ff-h3); 
  font-weight: var(--fw-extralight);
  letter-spacing: var(--fspace-3);
}

.img__harmonica{
  position:relative;
  z-index: 2;
}



.img__light-left, .img__light-right{
  position:absolute;
  z-index:1;
 /*  overflow:hidden;  */
}

.img__light-left{
  left: -4rem;
  top: -5rem;
}
 .img__light-right {
   top: 3rem;
   right: -10rem;
   /* left:12rem; */
 }




/*===================== INTRO =====================*/

.intro{
 height:100vh; 
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro>p {
  font-size:var(--fs-m);
  font-family: var(--ff-h3); 
  letter-spacing: var(--fspace-2);
  font-weight: var(--fw-extralight);
  color:var(--color-white);
}

.intro>h2{
  font-size: clamp(5.625rem, calc(5.625rem + ((1vw - 0.175rem) * 4.0244)), 9.75rem);
    min-height: 0vw;
  font-family: var(--ff-h1);
  letter-spacing: var(--fspace-0);
}

/*=====================CHAPTER 1===================== */

.about{
  background-image: url('./../../assets/bg-paper.png');
  padding:2rem 1rem; 
  display:grid; 
}

.txt-wrp-title >h3{
  font-size: clamp(1.0625rem, calc(1.0625rem + ((1vw - 0.1875rem) * 0.8025)), 1.875rem);
  font-family: var(--ff-h3);
  font-weight: var(--fw-regular);

}


.txt-wrp-title>h2 {
  font-size: clamp(1.375rem, calc(1.375rem + ((1vw - 0.1875rem) * 2.3457)), 3.75rem);
  font-family: var(--ff-h2);
  font-weight: var(--fw-bold);
}

.cnt__china div{
  margin: .5rem 0rem;
}



/*=================== The Journey =====================*/
.journey__container{
  padding:1rem;
}


.sizeup{
  font-size: clamp(1.75rem, calc(1.75rem + ((1vw - 0.1875rem) * 3.2099)), 5rem);
}

.txt--journey{
  color:var(--color-gold);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}




/*=======================================
       4.  Responsive
=========================================*/


/*mobile*/
@media only screen and (max-width:500px) {
  .nav {
    display: none;
    transition: 1s ease-in-out;
  }

  .show_nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.6rem;
    gap: 0.6rem;
    position: absolute;
    background-color: #1E1A19;
    bottom: -1.6rem;
    right: 0;
    border-radius: 1.2rem;
  }

  .hamburger {
    display: block;
  }
  .img__harmonica{
    transform: rotate(-20deg);
  }

  p {
    font-size: 1rem;
    line-height: var(--f-line-height);
    font-family: var(--ff-p);
  }

  .hero__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block-start: 4rem;
    height:100vh;
  }

  .hero__title{
    border-bottom: .1rem solid var(--color-gold);
  }

  .begin{
    display:none; 
  }

  .img__arrows{
    margin-block-start: .45rem; 
    padding-bottom:6rem;
  }

  .img__light-left{
    margin-bottom:21rem;
  /*   margin-inline-end: 13rem; */
  }
   
  .img__light-right{
    top:12rem;
  }

 /*=====================INTRO=====================*/
  .intro{
    height: 80vh;
  }

  .intro>p{
   margin-block-end: 2rem; 
  }

 
  /*=====================CHINA=====================*/

  .txt-wrp-title{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .txt-wrp-title>h2, .txt-wrp-title>h3 {
    width: 110%;
    text-align: end;
  }
  
  .txt-wrp-title>h3{
    margin-block-end:.5rem;
    padding-block-start: 5rem; 
  }

  .txt-wrp-title>h2{
  line-height:1.8rem;
  margin-block-end: .3rem;
  }

  .about{
    grid-template-columns: 1fr 1fr;
    border:.1rem solid var(--color-gold);
  }

  /*img china*/
  .img__china-tm, .img__china-tm-2, .img__bamboo-m{
    display:block;
  }
  .img__china-tm {
    position: absolute;
    grid-column: 1/2;
    margin-inline-start: -3rem; 
  }
  .img__china-tm-2{
    /* margin-inline-start:2rem; */
    display:flex;
    justify-content: center;
  }

  .img__bamboo-m{
   /*  margin-inline-start: 7rem; */
    margin-block-start: -1rem; 
    display: flex;
    justify-content: flex-end;
  }

  .txt-wrp-title{
    grid-column: 2/3;
  }

  .content{
    grid-column: 1/3;
  }

  .img__sheng{
    display: flex;
    justify-content: center;
  }

   /*=====================Journey=====================*/

  .fromto{
    margin: 2rem 0rem; 
  }
  .fromto p:nth-child(2){
    margin-inline-start:4rem;
  }



}



/*Tablet*/

@media only screen and (max-width:780px) {

}